/**
 * @file
 * Defines global styles.
 */

/**
 * Base styling.
 */
body {
  margin: 0 auto;
  padding: 20px;
  min-width: 920px;
  max-width: 1100px;
  background: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
}

table {
  border-collapse: collapse;
}

header {
  margin: 0 0 20px;
}

h1 {
  margin: 0 0 10px;
}

h2 {
  margin: 0 0 10px;
  font-size: 1em;
}

header > h1 {
  text-align: center;
}

input[type=text] {
  padding: 4px;
  border: 1px #aaa solid;
  border-radius: 4px;
}

td.cell.highlight {
  background: #afa;
}

/**
 * Page & Content Wrappers
 */
#page-wrapper {
  margin: 0 0 20px;
}

#quarters .quarter,
#players-wrapper,
#score-table-wrapper {
  background: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px 3px #aaa;
  vertical-align: top;
}

#players-wrapper,
#score-table-wrapper {
  padding: 20px;
}

#content {
  width: 100%;

  td {
    vertical-align: top;

    &.spacer {
      width: 20px;
    }
  }
}

#teams input {
  border: none;
}

/**
 * Score Table
 */
#score-table {
  width: 100%;

  th {
    padding: 4px;
    width: 2em;
    height: 2em;

    &.team-home {
      color: #55f;
    }

    &.team-away {
      color: #f55;
    }
  }

  td {
    margin: 0;
    padding: 4px;
    width: 2em;
    height: 2em;
    border: 1px #aaa solid;
    text-align: center;

    &::hover {
      background: #ddd;
      cursor: pointer;
    }
  }
}

/**
 * Player Wrapper
 */
#players-wrapper {
  width: 300px;

  ol {
    padding: 0;
    list-style: none;
  }
}

/**
 * Player Lists
 */

#player-list {
  .selected {
    color: #000;
    font-weight: bold;
  }

  .squares-used {
    display: inline-block;
  }

  .remove-player {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    color: red;
    text-align: center;
    text-decoration: none;
  }

  label {
    display: inline-block;
    width: 200px;
    color: #888;
  }

  input[type=radio] {
    display: none;
  }

  li {
    position: relative;

    &:hover .remove-player {
      display: block;
    }

    .uid {
      display: inline-block;
      width: 20px;
      text-align: right;
    }
  }
}

/**
 * Quarters
 */
#quarters {
  width: 100%;

  .quarter {
    padding: 20px;
    text-align: center;
  }

  .spacer {
    width: 20px;
  }

  input {
    padding: 4px 2px;
    width: 30px;
    border: none;
    font-size: 1.5em;
    text-align: center;
  }
}

#add-player {
  margin: 0 0 15px;
}

input.team-home {
  background: #bbf;
}

input.team-away {
  background: #fbb;
}
