/*  Stylesheet Info
  =======================================================================

    * Filename:       global.scss
    * Description:    Global Master

  ==================================================================== */
/* line 13, ../assets/scss/global.scss */
body {
  margin: 0 auto;
  padding: 20px;
  min-width: 920px;
  max-width: 1100px;
  background: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
}

/* line 23, ../assets/scss/global.scss */
table {
  border-collapse: collapse;
}

/* line 27, ../assets/scss/global.scss */
header {
  margin: 0 0 20px;
}

/* line 31, ../assets/scss/global.scss */
h1 {
  margin: 0 0 10px;
}

/* line 35, ../assets/scss/global.scss */
h2 {
  margin: 0 0 10px;
  font-size: 1em;
}

/* line 40, ../assets/scss/global.scss */
header > h1 {
  text-align: center;
}

/* line 44, ../assets/scss/global.scss */
input[type=text] {
  padding: 4px;
  border: 1px #aaa solid;
  border-radius: 4px;
}

/* line 50, ../assets/scss/global.scss */
td.cell.highlight {
  background: #afa;
}

/* line 58, ../assets/scss/global.scss */
#page-wrapper {
  margin: 0 0 20px;
}

/* line 64, ../assets/scss/global.scss */
#quarters .quarter,
#players-wrapper,
#score-table-wrapper {
  background: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px 3px #aaa;
  vertical-align: top;
}

/* line 72, ../assets/scss/global.scss */
#players-wrapper,
#score-table-wrapper {
  padding: 20px;
}

/* line 76, ../assets/scss/global.scss */
#content {
  width: 100%;
}
/* line 79, ../assets/scss/global.scss */
#content td {
  vertical-align: top;
}
/* line 82, ../assets/scss/global.scss */
#content td.spacer {
  width: 20px;
}

/* line 88, ../assets/scss/global.scss */
#teams input {
  border: none;
}

/* line 96, ../assets/scss/global.scss */
#score-table {
  width: 100%;
}
/* line 99, ../assets/scss/global.scss */
#score-table th {
  padding: 4px;
  width: 2em;
  height: 2em;
}
/* line 104, ../assets/scss/global.scss */
#score-table th.team-home {
  color: #55f;
}
/* line 108, ../assets/scss/global.scss */
#score-table th.team-away {
  color: #f55;
}
/* line 113, ../assets/scss/global.scss */
#score-table td {
  margin: 0;
  padding: 4px;
  width: 2em;
  height: 2em;
  border: 1px #aaa solid;
  text-align: center;
}
/* line 121, ../assets/scss/global.scss */
#score-table td::hover {
  background: #ddd;
  cursor: pointer;
}

/* line 133, ../assets/scss/global.scss */
#players-wrapper {
  width: 300px;
}
/* line 136, ../assets/scss/global.scss */
#players-wrapper ol {
  padding: 0;
  list-style: none;
}

/* line 148, ../assets/scss/global.scss */
#player-list .selected {
  color: #000;
  font-weight: bold;
}
/* line 153, ../assets/scss/global.scss */
#player-list .squares-used {
  display: inline-block;
}
/* line 157, ../assets/scss/global.scss */
#player-list .remove-player {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  color: red;
  text-align: center;
  text-decoration: none;
}
/* line 167, ../assets/scss/global.scss */
#player-list label {
  display: inline-block;
  width: 200px;
  color: #888;
}
/* line 173, ../assets/scss/global.scss */
#player-list input[type=radio] {
  display: none;
}
/* line 177, ../assets/scss/global.scss */
#player-list li {
  position: relative;
}
/* line 180, ../assets/scss/global.scss */
#player-list li:hover .remove-player {
  display: block;
}
/* line 184, ../assets/scss/global.scss */
#player-list li .uid {
  display: inline-block;
  width: 20px;
  text-align: right;
}

/* line 197, ../assets/scss/global.scss */
#quarters {
  width: 100%;
}
/* line 200, ../assets/scss/global.scss */
#quarters .quarter {
  padding: 20px;
  text-align: center;
}
/* line 205, ../assets/scss/global.scss */
#quarters .spacer {
  width: 20px;
}
/* line 209, ../assets/scss/global.scss */
#quarters input {
  padding: 4px 2px;
  width: 30px;
  border: none;
  font-size: 1.5em;
  text-align: center;
}

/* line 218, ../assets/scss/global.scss */
#add-player {
  margin: 0 0 15px;
}

/* line 222, ../assets/scss/global.scss */
input.team-home {
  background: #bbf;
}

/* line 226, ../assets/scss/global.scss */
input.team-away {
  background: #fbb;
}
